<!DOCTYPE html>

<html>
<head>
<title><h1>HOME PAGE</h1></title>
</head>
<body>
<p><h2>Hey! This is my home page.</h2><br>
<h3>I am excited to go further!:)</h3></p>
<%= link_to 'About', about_path%>
<%= link_to 'Alpha-blog', articles_path%>
</body>
</html>